* {
    padding: 0px;
    margin: 0px;
}

body, html {
    height: 100%;
}

:root {
    --main-background-color: #192734;
    --main-text-color: white;
    --pop-color: rgb(42, 189, 103);
    --secondary-background-color: rgb(21, 32, 43);
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: var(--main-background-color);
}

header {
    text-align: center;
    color: var(--main-text-color);
    padding: 8px;
    border-bottom: 2px solid var(--pop-color);
    margin-bottom:36px;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}

.search input, .search button {
    font-size: 1.2rem;
}

.weatherSection {
    width: 100%;
    display: flex;
    justify-content: center;
}

.weather {
    text-align: center;
    font-size: 1.5em;
    visibility: hidden;
    background-color: var(--secondary-background-color);
    color: var(--main-text-color);
    padding: 16px;
    border-radius: 3px;
    border: 1px solid var(--pop-color);
    width: clamp(200px, 20%, 350px);
}

.weather.visible {
    visibility: visible;
}

.search button {
    background-color: var(--pop-color);
    border: 1px solid var(--pop-color);
    color: var(--main-background-color);
    border-radius: 2px;
}